@import '@vassembly/ui-system-design/theme/src/tokens/index.scss';

.leftGroup {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  min-width: 0;
  gap: $spacing-6;

  @media #{$media-tablet} {
    gap: $spacing-6;
  }

  @media #{$media-desktop} {
    gap: $spacing-8;
  }
}

.rightGroup {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: $spacing-2;
}
