@import '@vassembly/theme/src/tokens/index.scss';

.pickerStack {
  display: flex;
  flex-direction: column;
  gap: $spacing-2;
}

.selectedList {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-2;
}

.counterText {
  color: $color-text-secondary;
}

.errorText {
  color: $color-error;
}

.helperText {
  color: $color-text-secondary;
}

.emptyState {
  display: flex;
  flex-direction: column;
  gap: $spacing-2;
}
