@import '@vassembly/ui-system-design/theme/src/tokens/index.scss';

.page {
  display: flex;
  flex-direction: column;
  gap: $spacing-6;
  padding: $spacing-6;
}

.panels {
  display: flex;
  flex-direction: column;
  gap: $spacing-6;
}

.topRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $spacing-6;
}

@media #{$media-mobile-only} {
  .topRow {
    grid-template-columns: 1fr;
  }
}
