@import '@vassembly/theme/src/tokens/index.scss';

.modalStack {
  display: flex;
  flex-direction: column;
  gap: $spacing-4;
}

.toolbarRow {
  display: flex;
  justify-content: flex-end;
  gap: $spacing-3;
}

.warningText {
  color: $color-text-secondary;
}
