@use '@vassembly/ui-system-design/theme/src/tokens/index.scss' as *;

:root {
  --background: #{$color-neutral-0};
  --foreground: #{$color-neutral-100};
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #{$color-surface-container-lowest};
    --foreground: #{$color-text-primary};
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: #{$font-family-body};
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: #{$font-family-display};
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
