@import '@vassembly/theme/src/tokens/index.scss';

.pickerStack {
  display: flex;
  flex-direction: column;
  gap: $spacing-2;
}

.errorText {
  color: $color-error;
}

.helperText {
  color: $color-text-secondary;
}
