@import '@vassembly/ui-system-design/src/theme/tokens/index.scss';

.root {
  display: flex;
  flex-direction: column;
  gap: $spacing-2;
}

.levelLabel {
  font-weight: 600;
}

.list {
  margin: 0;
  padding-left: $spacing-4;
}

.item {
  margin: 0;
}

.met {
  color: $color-success;
}

.unmet {
  color: $color-error;
}
