@import '@vassembly/ui-system-design/theme/src/tokens/index.scss';

.formStack {
  display: flex;
  flex-direction: column;
  gap: $spacing-component-gap-md;
}

.formActions {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-3;
  justify-content: flex-end;
  align-self: stretch;
}

.auditFields {
  display: flex;
  flex-direction: column;
  gap: $spacing-1;
  align-items: flex-start;
  color: $color-text-secondary;
}
