@import '@vassembly/theme/src/tokens/index.scss';

.page {
  display: flex;
  flex-direction: column;
  gap: $spacing-6;
  padding: $spacing-6;
}

.errorBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $spacing-3;
}
