@import '@vassembly/ui-system-design/theme/src/tokens/index.scss';

.pageStack {
  display: flex;
  flex-direction: column;
  gap: $spacing-6;
}

.pageHeader {
  display: flex;
  flex-direction: column;
  gap: $spacing-2;
}
