@import '@vassembly/ui-system-design/theme/src/tokens/index.scss';

.container {
  padding: $spacing-6;
  border-radius: $border-radius-lg;
  background-color: $color-surface-container-high;
  display: flex;
  flex-direction: column;
  gap: $spacing-4;
}

.sections {
  display: flex;
  flex-direction: column;
  gap: $spacing-6;
}

.sectionLabel {
  margin-bottom: $spacing-3;
}
