@import '@vassembly/ui-system-design/src/theme/tokens/index.scss';

.body {
  margin: 0;
  white-space: pre-wrap;
  color: $color-text-primary;
}

.bodyClamped {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $spacing-1;
  width: 100%;
}
