@import '@vassembly/theme/src/tokens/index.scss';

.statusSecondary {
  color: $color-text-secondary;
}

.statusInfo {
  color: $color-primary;
}

.statusSuccess {
  color: $color-success;
}

.statusError {
  color: $color-error;
}

.statusBadge {
  display: inline-flex;
  align-items: center;
  gap: $spacing-1;
  width: fit-content;
}

.statusIcon {
  width: 16px;
  height: 16px;
}

.statusLabel {
  font-size: $font-size-label-sm;
}
