@import '@vassembly/theme/src/tokens/index.scss';

.container {
  padding: $spacing-6;
  border-radius: $border-radius-lg;
  display: flex;
  flex-direction: column;
  gap: $spacing-4;
}

.toolbarRow {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-3;
  align-items: center;
}
