@import '@vassembly/ui-system-design/src/theme/tokens/index.scss';

.formStack {
  display: flex;
  flex-direction: column;
  gap: $spacing-component-gap-md;
}

.stretchField {
  align-self: stretch;
  width: 100%;
}

.toolbarRow {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-3;
  align-items: center;
  justify-content: space-between;
}
