$opacity-0: 0;
$opacity-5: 0.05;
$opacity-10: 0.1;
$opacity-15: 0.15;
$opacity-20: 0.2;
$opacity-25: 0.25;
$opacity-30: 0.3;
$opacity-40: 0.4;
$opacity-50: 0.5;
$opacity-60: 0.6;
$opacity-70: 0.7;
$opacity-75: 0.75;
$opacity-80: 0.8;
$opacity-90: 0.9;
$opacity-100: 1;

$opacity-glassmorphism: $opacity-40;
$opacity-hover: $opacity-80;
$opacity-disabled: $opacity-50;
$opacity-focus: $opacity-30;
$opacity-ambient-shadow: $opacity-60;
$opacity-ghost-border: $opacity-15;
