@import '@vassembly/ui-system-design/src/theme/tokens/index.scss';

.viewer {
  min-height: 320px;
  border-radius: $border-radius-lg;
  overflow: hidden;
}

.errorBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $spacing-3;
  padding: $spacing-4;
}
